# Default ignored files
/shelf/
/workspace.xml
/indexLayout.xml
/vcs.xml
# Rider ignored files
/modules.xml
/projectSettingsUpdater.xml
/.idea.RepoReflect.iml
/contentModel.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml